/* ---------------------------
  modules common:
-----------------------------*/
// navbar:
.nav-link a {
  color: rgba(255, 255, 255, 0.5);
  &.active {
    color: #fff;
  }
}

// buttons:
.btn {
  &.btn-checkout {
    color: #fff;
    background-color: #000;

    &:hover {
      background-color: lighten(#000, 20%);
    }
  }
}
