/* -----------------------------
    variables:
-------------------------------*/

/* margins: */
$s-margin: 20px;
$m-margin: 40px;
$l-margin: 60px;

/* paddings: */
$s-padding: 20px;
$m-padding: 40px;
$l-padding: 60px;
